* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

/* Navigation and Header Style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.btn-primary {
    height: 64px;
    border: 0;
    color: #fff;
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
}

/* Baner style */

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

.banner {
    display: flex;
    margin: 0 200px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 67px;
    margin-bottom: 20px;
}

.banner-discription {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

.section-discription {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.about {
    padding: 130px 150px;
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}



.info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What I do section styles */

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-discription {
    font-size: 16px;
    color: #757575;
}

/* Resume */
.resume-container {
    display: flex;
    gap: 70px;
}

.resume-info {
    margin-bottom: 30px;
}

.resume-heading {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.resume-subtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: #757575;
}

.resume-discription {
    line-height: 28px;
    color: #757575;
    padding-bottom: 30px;
}

.resume .btn {
    text-align: center;
}

/* Footer */
footer {
    margin-top: 130px;
    background: #FFF8F3;
    padding: 130px 230px;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 110px;
}

.footer-container .section-title {
    text-align: left;
}

.icons a {
    text-decoration: none;
    margin-right: 24px;
}

footer input, footer textarea {
    margin-bottom: 24px;
    padding: 18px 30px;
    border: 0;
}

footer input[type="text"], footer input[type="email"], footer textarea {
    width: 100%;

}